---
layout: minimal
title: "Partially A Blog"
permalink: /blog
description: "\"Not everything that can be counted counts, and not everything that counts can be counted.\"
 — Albert Einstein"
---
<ul class="post-list">
{% for post in site.categories.blog %}
    <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
{% endfor %}
</ul>

{% for category in site.categories.podcast %}

{% endfor %}
