
<header class="header-site" role="banner">
    <canvas id="network-anim" width="1265" height="380"></canvas>

    <div class="content">
        <h1>
            <span class="site-title">{{site.user_title}}</span>
            <span class="site-description">{{site.description}}</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Listen to Partially Derivative" href="{{ "/podcast" | prepend: site.baseurl }}">
                <svg class="icon icon-headphones"><use xlink:href="#icon-headphones"></use></svg>
            </a>

            <a aria-label="Read the Partially Derivative blog" href="{{ "/blog" | prepend: site.baseurl }}"><svg class="icon icon-book"><use xlink:href="#icon-book"></use></svg></a>

            <a aria-label="Read Data Love Letters" href="{{ "/loveletters" | prepend: site.baseurl }}"><svg class="icon icon-newspaper"><use xlink:href="#icon-newspaper"></use></svg></a>

            <a aria-label="Follow us on Twitter"  href="https://twitter.com/{{site.twitter_username}}"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>

            <a aria-label="Subscribe to Partially Derivative" href="{{ "/subscribe" | prepend: site.baseurl }}""><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
        </div>
    </div>
    <a role="button" class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>
    {% include menu-search.html %}
</header>
