
<header class="header-post" role="banner">
    <div class="content">
        {% if page.date %}
            <time itemprop="datePublished" datetime="{{ page.date }}" class="date">{{ page.date | date_to_string }}</time>
        {% endif %}
        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
        {% if page.title == 'Podcast Episodes' %}
        <p itemprop="description" class="subtitle">Subscribe on <a href="https://itunes.apple.com/us/podcast/partially-derivative/id942048597?mt=2">iTunes</a>, <a href="http://www.stitcher.com/podcast/partially-derivative?refid=stpr">Stitcher</a>, or <a href="http://feeds.feedburner.com/PartiallyDerivative">any podcasting app</a>!</p>
        {% endif %}
        {% if page.title == "Partially A Blog" %}
        <div class="icons-home">
            <a aria-label="Subscribe to Partially Derivative" href="{{ "/subscribe" | prepend: site.baseurl }}"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
        </div>
        <div>
            <span style="color: white">Subscribe</span>
        </div>
        {% endif %}
        {% if page.title == "Data Love Letters" %}
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        	#mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            #mc_embed_signup .button {background-color: #a93539;}
            #mc_embed_signup .button:hover {background-color: #a93c32;}

        </style>
        <div id="mc_embed_signup">
        <form action="//popily.us10.list-manage.com/subscribe/post?u=46ba26f60b6fb9ff0ec750534&amp;id=4e5e2d3b39" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

        	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_46ba26f60b6fb9ff0ec750534_4e5e2d3b39" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->
        {% endif %}
    </div>
     {% include menu-search.html %}
</header>
