body>header {
    padding-top: 7em;
    padding-bottom: 4em;
    position: relative;
    z-index: 1
}
canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%
}
